<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
         <%= title %>
    </title>

    <!-- fontawesome cdn links for icons -->
    <script src="https://kit.fontawesome.com/f3c698d3f7.js" crossorigin="anonymous"></script>

    <!-- css link -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <div id="container">
        <!-- Heading Section Start -->
        <header class="heading">
            <h1>TODO-List</h1>
        </header>
        <!-- Heading Section End -->

        <!-- Main Container Start -->
        <div id="main-container">
            <!-- Form Section Start -->
            <div class="form_class">
                <form action="/create_todo" method="POST">
                    <!-- Description Section Start -->
                    <div id="description-section">
                        <h3 class="form-heading">DESCRIPTION</h3>
                        <input class="inner-text" type="textarea" required name="desc" placeholder="What do you need to do?"> 
                    </div>
                    <!--End Description Section -->
                    <div id="category-date-section">

                        <!-- Category Section Start -->
                        <div class="select_and_input">
                            <h3 class="form-heading">CATEGORY</h3>
                            <div class="select-container">
                            <select name="category" required>
                                <option value="" disabled class="inner-text" selected>Select your option</option>
                                <option>Personal</option>
                                <option>Work</option>
                                <option>Claeaning</option>
                                <option>Otheres</option>
                            </select>
                            </div>
                        </div>
                        <!-- End Category Section -->

                        <!-- Due Date Section Start -->
                        <div class="select_and_input">
                            <h3 class="form-heading">DUE DATE</h3>
                            <input class="datesValues" type="date" name="dateValue" required>
                        </div>
                        <!-- End Due Date Section -->
                    </div>
        
                    <!-- Button Section Start -->
                    <div id="btn-section">
                        <button class="buttonDesign colorGrey" id="submitButton" type="submit"><i class="fa fa-plus-square"> </i>&nbsp; Add Task</button>
                        <button class="buttonDesign colorRed" id="deleteButton" type="submit"><i class="fa fa-trash-o"></i>	&nbsp;Delete Task</button>
                    </div>
                    <!--End Button Section -->
                </form>
                    
            </div>
            <!-- End Form Section -->

            <!-- For Displaying TODO Lists -->
           <div>
            <% for(let i of tasks) {%>
                <li>
                    <span id="checkbox-container">
                        <input id="check" type="checkbox" name="<%= i._id %>">
                    </span>
                    <div style="display: inline-block;">
                        <span id="list-task"><%= i.task %></span> <br>
                        <span id="list-date"><i class="fa fa-calendar" aria-hidden="true"></i><span id="task-date-value"> <%= i.date %></span></span>
                    </div>
                    <div class="list-category">
                        <p id="category-box-text">
                            <%= i.category %>
                        </p>
                    </div>

                </li>
                <%} %>
           </div>
        </div>
        <!-- End Main Container -->
    </div>

    
    <!-- adding sweetalert for alert notification -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Adding Js File -->
    <script src="/assets/js/script.js"></script>
</body>
</html>