<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title %>
    </title>

    <!-- using font awesome for icons -->
    <script src="https://kit.fontawesome.com/f3c698d3f7.js" crossorigin="anonymous"></script>
    <!-- extract css link from ex.ejs, and attached to here -->
    <%- style %>    
</head>
<body>

    <div id="container">
        <%- include('_header'); %>
        <!-- Main Container Start -->
        <main id="main-container">
            <!-- contain variable parts -->
            <%- body %>
        </main>
        <!-- Main Container Ends -->
    </div>

    <!-- extract script link from ex.ejs and attached to here -->
    <%- script %>  
</body>
</html>